<main>
  <h2>Это загрузочный экран картографии</h2>
  <nav>
    <a routerLink="">Главная</a>
    <a routerLink="/maps/political">Политическая карта(1)</a>
    <a routerLink="/maps/largest-states">Крупнейшие государства мира(2)</a>
    <a routerLink="/maps/political-stages">Этапы формирования политической карты Мира(3)</a>
    <a routerLink="/maps/countries-types">Типы стран(4)</a>
    <a routerLink="/maps/">Международные экономические организации(5) - нет</a>
    <a routerLink="/maps/historical-areas">Историко-культурные районы мира(6)</a>
    <a routerLink="/maps/usa">Административно-территориальное устройство США(7)</a>
    <a routerLink="/maps/frg">Административно-территориальное устройство ФРГ(8)</a>
    <a routerLink="/maps/france">Административно-территориальное устройство Франции(9)</a>
    <a routerLink="/maps/great-britain">Административно-территориальное устройство Великобритании(10)</a>
    <a routerLink="/maps/italy">Административно-территориальное устройство Италии(11)</a>
    <a routerLink="/maps/russia">Административно-территориальное устройство Россиийской Федерации(12)</a>
    <a routerLink="/maps/ukraine">Административно-территориальное устройство Украины(13)</a>
    <a routerLink="/maps/poland">Административно-территориальное устройство Польши(14)</a>
    <a routerLink="/maps/kazakhstan">Административно-территориальное устройство Казахстан(15)</a>
  </nav>
</main>
