<main>
  <h2>Это загрузочный экран картографии</h2>
  <nav>
    <a routerLink="">Главная</a>
    <a routerLink="/maps/political">Политическая карта</a>
    <a routerLink="/maps/largest-states">Крупнейшие государства мира</a>
    <a routerLink="/maps/political-stages">Этапы формирования политической карты Мира</a>
    <a routerLink="/maps/countries-types">Типы стран</a>
    <a routerLink="/maps/international-organization">Международные экономическо-политические организации</a>
    <a routerLink="/maps/historical-areas">Историко-культурные районы мира</a>
    <a routerLink="/maps/usa">Административно-территориальное устройство США</a>
    <a routerLink="/maps/frg">Административно-территориальное устройство ФРГ</a>
    <a routerLink="/maps/france">Административно-территориальное устройство Франции</a>
    <a routerLink="/maps/great-britain">Административно-территориальное устройство Великобритании</a>
    <a routerLink="/maps/italy">Административно-территориальное устройство Италии</a>
    <a routerLink="/maps/russia">Административно-территориальное устройство Россиийской Федерации</a>
    <a routerLink="/maps/ukraine">Административно-территориальное устройство Украины</a>
    <a routerLink="/maps/poland">Административно-территориальное устройство Польши</a>
    <a routerLink="/maps/kazakhstan">Административно-территориальное устройство Казахстана</a>
  </nav>
</main>
