<app-header *ngIf="!legendActive"></app-header>
<main>
  <div class="container-fluid">
    <div *ngIf="!collapsed" class="main_title">
      <h1>{{title}}</h1>
    </div>
    <div [ngClass]="{'legend': legendActive}" class="main_wrapper">
      <aside [ngClass]="{'collapsed': collapsed}">
        <nav *ngIf="!collapsed">
          <ul>
            <li class="drop">
              <div class="link">
									<span class="icon">
										<img alt="" src="assets/img/icons/list_icon.png">
									</span>
                <a href="">Список карт</a>
              </div>
            </li>
            <li class="layers drop">
              <div class="link">
									<span class="icon">
										<img alt="" src="assets/img/icons/layer_icon.png">
									</span>
                <a href="">Слои</a>
              </div>
              <ul class="dropdown">
                <li *ngFor="let layer of layers">
                  <div class="input_group">
                    <input [(ngModel)]="layer.checked" id="{{layer.name}}" type="checkbox">
                    <label (click)="active(layer, $event)" for="{{layer.name}}">{{layer.name}}</label>
                  </div>
                  <ul class="dropdown">
                    <li *ngFor="let dropdown of layer.isDrop">
                      <div class="input_group">
                        <input [(ngModel)]="dropdown.checked" [checked]="" id="{{dropdown.name}}" type="checkbox">
                        <label (click)="active(dropdown, $event)" for="{{dropdown.name}}">{{dropdown.name}}</label>
                      </div>
                      <ul class="dropdown">
                        <li *ngFor="let dropdownSecond of dropdown.isDrop">
                          <div class="input_group">
                            <input [(ngModel)]="dropdownSecond.checked" id="{{dropdownSecond.name}}" type="checkbox">
                            <label (click)="active(dropdownSecond, $event)"
                                   for="{{dropdownSecond.name}}">{{dropdownSecond.name}}</label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li (click)="legend($event)" [ngClass]="{'active': legendActive}">
								<span class="icon">
									<img alt="" src="assets/img/icons/legend_icon.png">
								</span>
              <a href="">Легенда карты</a>
            </li>
            <!--            <li (click)="legend($event)" [ngClass]="{'active': legendActive}">-->
            <!--								<span class="icon">-->
            <!--									<img alt="" src="assets/img/icons/proektor_icon.png">-->
            <!--								</span>-->
            <!--              <a href="">Проектор</a>-->
            <!--            </li>-->
            <li>
								<span class="icon">
									<img alt="" src="assets/img/icons/info_icon.png">
								</span>
              <a href="">Информация</a>
            </li>
            <li (click)="edit($event)" [ngClass]="{'active': isEdit}">
								<span class="icon">
									<img alt="" src="assets/img/icons/edit_icon.png">
								</span>
              <a href="">Редактировать</a>
            </li>
            <li (click)="collapse($event)">
								<span class="icon">
									<img alt="" src="assets/img/icons/hide_icon.png">
								</span>
              <a href="">Свернуть</a>
            </li>
          </ul>
        </nav>
        <nav *ngIf="collapsed">
          <ul>
            <li class="drop">
              <div class="link">
									<span class="icon">
										<img alt="" src="assets/img/icons/list_icon.png">
									</span>
              </div>
            </li>
            <li class="layers drop">
              <div class="link">
									<span class="icon">
										<img alt="" src="assets/img/icons/layer_icon.png">
									</span>
              </div>
            </li>
            <li (click)="legend($event)" [ngClass]="{'active': legendActive}">
								<span class="icon">
									<img alt="" src="assets/img/icons/legend_icon.png">
								</span>
            </li>
            <li (click)="legend($event)" [ngClass]="{'active': legendActive}">
								<span class="icon">
									<img alt="" src="assets/img/icons/proektor_icon.png">
								</span>
            </li>
            <li>
								<span class="icon">
									<img alt="" src="assets/img/icons/info_icon.png">
								</span>
            </li>
            <li (click)="edit($event)" [ngClass]="{'active': isEdit}">
								<span class="icon">
									<img alt="" src="assets/img/icons/edit_icon.png">
								</span>
            </li>
            <li (click)="collapse($event)">
								<span class="icon">
									<img alt="" src="assets/img/icons/show_icon.png">
								</span>
            </li>
          </ul>
        </nav>
      </aside>
      <section [ngClass]="{'legend': legendActive}" class="map">
        <pinch-zoom [backgroundColor]="'transparent'" [disablePan]="true"
                    [transition-duration]=500>
          <figure class="mainMap">
            <img alt="" src="assets/img/Политическая карта мира/Основа.png">
          </figure>
          <figure [ngClass]="{'show': isEdit}" class=" canvas">
            <image-drawing
              (save)="save($event)"
              [drawingSizes]="{'medium': 10, 'small': 5}"
              src="assets/img/Политическая карта мира/Основа.png"></image-drawing>
          </figure>
          <ng-container *ngFor="let layer of layers">
            <figure *ngIf="layer.checked" [ngClass]="{'visible': layer.checked}">
              <img alt="" src="{{layer.img}}">
            </figure>
            <ng-container *ngFor="let dropdown of layer.isDrop">
              <figure *ngIf="dropdown.checked" [ngClass]="{'visible': dropdown.checked}">
                <img alt="" src="{{dropdown.img}}">
              </figure>
              <ng-container *ngFor="let dropdownSecond of dropdown.isDrop">
                <figure *ngIf="dropdownSecond.checked" [ngClass]="{'visible': dropdownSecond.checked}">
                  <img alt="" src="{{dropdownSecond.img}}">
                </figure>
              </ng-container>
            </ng-container>
          </ng-container>
        </pinch-zoom>
      </section>
      <aside *ngIf="legendActive" class="legend">
        <figure>
          <img alt="" src="assets/img/Политическая карта мира/Легенда.png">
        </figure>
      </aside>
    </div>
  </div>
</main>
<app-footer *ngIf="!legendActive"></app-footer>
