<ul class="dropdown">
  <li routerLinkActive="active-link"><a routerLink="/maps/political">Политическая карта</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/largest-states">Крупнейшие государства мира</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/political-stages">Этапы формирования политической карты Мира</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/countries-types">Типы стран</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/international-organization">Международные экономическо-политические организации</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/historical-areas">Историко-культурные районы мира</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/usa">Административно-территориальное устройство США</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/frg">Административно-территориальное устройство ФРГ</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/france">Административно-территориальное устройство Франции</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/great-britain">Административно-территориальное устройство Великобритании</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/italy">Административно-территориальное устройство Италии</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/russia">Административно-территориальное устройство Россиийской Федерации</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/ukraine">Административно-территориальное устройство Украины</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/poland">Административно-территориальное устройство Польши</a></li>
  <li routerLinkActive="active-link"><a routerLink="/maps/kazakhstan">Административно-территориальное устройство Казахстана</a></li>
</ul>
